all portfolios of a given user

for now, just all portfolios

<ul>
    <% @portfolios.each do |portfolio| %>
        <li> <%= link_to portfolio.name, portfolio_path(portfolio) %> </li>
    <%end%>
</ul>